html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    background-color: $cultured-white;
}

p {
    margin-top: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    line-height: 1.4;
    a {
        text-decoration: underline;     // Is this really what we want?
    }
    /*
    @include MQ(S) {
        font-size: 1.6rem;
        line-height: 1.6;
    }
    */
}

a {
    text-decoration: none;
}

