// Color Palette
$cultured-white: #f5f5f5ff;
$light-blue: #a7ced6ff;
$teal: #107E7Eff;
$pacific-blue: #58a6b6ff;
$dark-jungle-green: #13272bff;

// Hue Adjustments
$lighten: 15%;
$darken: 15%;

// Gradients
$gradient-top: linear-gradient(0deg, #f5f5f5ff, #a7ced6ff, #9ccad3ff, #58a6b6ff, #13272bff);
$gradient-right: linear-gradient(90deg, #f5f5f5ff, #a7ced6ff, #9ccad3ff, #58a6b6ff, #13272bff);
$gradient-bottom: linear-gradient(180deg, #f5f5f5ff, #a7ced6ff, #9ccad3ff, #58a6b6ff, #13272bff);
$gradient-left: linear-gradient(270deg, #f5f5f5ff, #a7ced6ff, #9ccad3ff, #58a6b6ff, #13272bff);
$gradient-top-right: linear-gradient(45deg, #f5f5f5ff, #a7ced6ff, #9ccad3ff, #58a6b6ff, #13272bff);
$gradient-bottom-right: linear-gradient(135deg, #f5f5f5ff, #a7ced6ff, #9ccad3ff, #58a6b6ff, #13272bff);
$gradient-top-left: linear-gradient(225deg, #f5f5f5ff, #a7ced6ff, #9ccad3ff, #58a6b6ff, #13272bff);
$gradient-bottom-left: linear-gradient(315deg, #f5f5f5ff, #a7ced6ff, #9ccad3ff, #58a6b6ff, #13272bff);
$gradient-radial: radial-gradient(#f5f5f5ff, #a7ced6ff, #9ccad3ff, #58a6b6ff, #13272bff);