// Styles for the footer

footer {
    margin-top: 1.5em;
    text-align: center;
    background-color: lighten($dark-jungle-green, 15%);

    a {
        $size: 3em;
        display: inline-block;
        width: $size;
        height: $size;
        padding: 1em 0;
        margin: 0 .5em;
        color: lighten(rgba(255, 255, 255, 0.5), 50%);
        overflow: hidden;

        @include MQ(L) {
            $size: 4em;
            width: $size;
            height: $size;
            padding: 1.75em 0;
            margin: 0 2em;
            position: relative;
        }
        
        &::before {
            font-size: 3em;
            font-family: $footer-font;
            @include MQ(L) {
                font-size: 4em;
            }
        }
    }

    .zen-validate-html::before {
        content: "5";
    }
    
    .zen-validate-css::before {
       content: "3";
    }
    
    .zen-license::before {
       content: "c";
    }
    
    .zen-accessibility::before {
        content: "a";
    }
    
    .zen-github::before {
        content: "g";
    }    
}

