// Put intro elements here.

header, header > h1, header > h2 {
    background: none;
}

header > h1 {
    margin-top: 0.5em;
    @include MQ(L) {
        margin-top: 1.5em;
    }
}

header {
    margin-bottom: 4em;
}

// Gradient underwater sunlight with fish background
header::before {
    content: url(https://zen-group4.github.io/styleguide/src/assets/branding/underwater-sunlight-sm.png);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    overflow: hidden;   // Otherwise we get a horizontal scroll bar
    z-index: -1;

    @include MQ(L) {
        content: url(https://zen-group4.github.io/styleguide/src/assets/branding/underwater-sunlight.png);
        display: flex;
        left: 0;
        width: 100%;
        justify-content: center;
        transform: none;
        background: none;
    }
}

@include MQ(L) {
    header::after {
        content: url(https://zen-group4.github.io/styleguide/src/assets/branding/touch-icon-1.png);
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}

.intro {
    @include MQ(L) {
        grid-column: 2/3;
        display: block;
        grid-row: 1/2; 
    }
}

// Download Icons
.intro a {
    position: relative;
    display: inline-block;
    padding: 1px 10px 1px 32px;
    margin: -1px -10px -1px -6px;
    border-radius: 1px;
    text-transform: uppercase;
}

.intro a::before {
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 8px;
    padding: 2px;

    content: "D";
    font-size: 16px;
    text-indent: 0;
    font-family: verdemoderna;

    text-transform: none;
}
// End download icons


// Top-left jellyfish image
$transition-time: 0.8s;

.intro::after {
    display: none;
    @include MQ(L) {
        content: url(https://zen-group4.github.io/styleguide/src/assets/branding/jellyfish.png);
        display: block;
        position: absolute;
        top: 12.5em;
        left: 1em;
        padding-top: 1em;
        width: 20%;
        height: 25em;
        transition: $transition-time;
        @media only screen and (max-width: $ML) {
            transform: scale(0.5) translateY(7em);
            transition: $transition-time;
        }
    }
}

.summary {
    position: static;
    display: block;
    margin: 10em 2em 3em 2em;
    padding: 1em;
    background-color: lighten($pacific-blue, $lighten);
    border: 1px dotted $teal;
    border-radius: 30em / 100em;

    p {
    font-size: 1.5em;
    margin: 1em;
        &:first-child{
            font-family: $secondary-font;
        }
        &:nth-child(2){
            font-family: $primary-font;
            a{
                text-decoration: none;
                color: $teal;
            }
        }
    }
    @include MQ(L) {
        position: absolute;
        top: 39.5em;
        left: 1em;
        width: 18%;
        border-radius: 100em / 30em; 
}
}

.preamble {
    display: block;
    @include MQ(L) {
        padding-top: 5em;
    }
}

.preamble::before {
    content: url(https://zen-group4.github.io/styleguide/src/assets/branding/jellyfish.png);
    opacity: 0.3;
    z-index: -1;
    position: absolute;
    left: 40%;
    transform: translate(-50%);
    margin-top: 4em;

    @include MQ(L) {
        display: none;
        position: static;
        content: "";
    }
}

.benefits::before {
    content: url(https://zen-group4.github.io/styleguide/src/assets/branding/jellyfish.png);
    opacity: 0.25;
    z-index: -1;
    position: absolute;
    left: 40%;
    transform: translate(-50%);
    margin-top: 6em;

    @include MQ(L) {
        display: none;
        position: static;
        content: "";
    }
}
.preamble > h3::before {
    content: url(styleguide/src/assets/branding/favicon-1.png);
    vertical-align: middle;
    padding-right: 0.5em;
}

.preamble h3::after {
    content: url(styleguide/src/assets/branding/favicon-1.png);
    vertical-align: middle;
    padding-left: 0.5em;
}

