// Put intro elements here.

.intro {
    @include MQ(L) {
    grid-column: 2/3;
    display: block;
    grid-row: 1/2; 
    }
}

//Image1---top image
.intro::after {
    display: none; 
    @include MQ(L) {
        content: url('jellyfish-svg');
        position: absolute;
        top: 12.5em;
        left: 0;
        display: block;
        width: 20%;
        height: 25em;
        border: .5em solid $teal;
    }
    // @include MQ(S) {
    //     display: none;  // TODO: Put semi-transparent jellyfish graphic behind text.
    // }
}


.summary {
    position: static;
    //width: 100%;
    display: block;
    @include MQ(L) {
        // position: static;
        // width: 100%;
        position: absolute;
        top: 37em;
        left: 0;
        width: 22%;
    }
}


.preamble {
    display: block;
    @include MQ(L) {
        padding-top: 5em;
    }
    // @include MQ(S) {
    //     padding-top: 0;
    // }
}

.preamble > h3::before {
    content: url(styleguide/src/assets/branding/favicon-1.png);
    vertical-align: middle;
    padding-right: 0.5em;
}

.preamble h3::after {
    content: url(styleguide/src/assets/branding/favicon-1.png);
    vertical-align: middle;
    padding-left: 0.5em;
}

