// Put intro elements here.

.intro {
    @include MQ(L) {
    grid-column: 2/3;
    display: block;
    grid-row: 1/2; 
    }
}

//Image1---top image
.intro::after {
    display: none; 
    @include MQ(L) {
        content: url('jellyfish-svg');
        position: absolute;
        top: 12.5em;
        left: 1em;
        display: block;
        width: 20%;
        height: 25em;
        border: .5em solid $teal;
    }
}

.summary {
    position: static;
    display: block;
    margin: 0;
    padding: 1em;
    background-color: lighten($pacific-blue, $lighten);
    border: 1px dotted $teal;

    p {
    font-size: 1.5em;
    margin: 1em;
        &:first-child{
            font-family: $secondary-font;
        }
        &:nth-child(2){
            font-family: $primary-font;
            a{
                text-decoration: none;
                color: $teal;
            }
        }
    }
    @include MQ(L) {
        position: absolute;
        top: 39.5em;
        left: 1em;
        width: 18%;
        border-radius: 100em / 30em; 
}
}

.preamble {
    display: block;
    @include MQ(L) {
        padding-top: 5em;
    }
}

.preamble > h3::before {
    content: url(styleguide/src/assets/branding/favicon-1.png);
    vertical-align: middle;
    padding-right: 0.5em;
}

.preamble h3::after {
    content: url(styleguide/src/assets/branding/favicon-1.png);
    vertical-align: middle;
    padding-left: 0.5em;
}

