// Style elements in main section here.

/*  Jellyfish graphic - The following CSS doesn't quite work
.explanation::before,
.benefits::before {
    content: "";
    position: absolute;
    top: 25%;
    left: -25%;
    background: url("styleguide/src/assets/jellyfish.svg");
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    width: 150%;
    height: 100%;
    z-index: -1;
    opacity: 0.25;
}
*/

.main h3::before {
    content: url(styleguide/src/assets/branding/favicon-1.png);
    vertical-align: middle;
    padding-right: 0.5em;
}

.main h3::after {
    content: url(styleguide/src/assets/branding/favicon-1.png);
    vertical-align: middle;
    padding-left: 0.5em;
}

.requirements p:last-of-type {
    text-align: center;
    margin: 0 2em;
    margin-top: 1em
}

