// Style elements in main section here.

/*  Jellyfish graphic - The following CSS doesn't quite work
.explanation::before,
.benefits::before {
    content: "";
    position: absolute;
    top: 25%;
    left: -25%;
    background: url("styleguide/src/assets/jellyfish.svg");
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    width: 150%;
    height: 100%;
    z-index: -1;
    opacity: 0.25;
}
*/

.main{   
    grid-column:  1 / span 3;
    grid-row: 2/3;
}

.participation{
    display:block;
    @include MQ(L) {
        padding: 0 25%;
    }  
}

//image2--bottom image
.participation::before{
    @include MQ(L) {
    content: url(https://zen-group4.github.io/styleguide/src/assets/branding/jellyfish.png);
    position: absolute;
    bottom: 11em;
    right: 1em;
    display: block;
    width: 20%;
    height: 25em;
    }
}

.main h3::before {
    content: url(styleguide/src/assets/branding/favicon-1.png);
    vertical-align: middle;
    padding-right: 0.5em;
}

.main h3::after {
    content: url(styleguide/src/assets/branding/favicon-1.png);
    vertical-align: middle;
    padding-left: 0.5em;
}

.explanation{
    display:block;
    //padding: 0 25%;
    @include MQ(L) {
        padding: 0 25%;
    }
}

.requirements{
    display:block;
    @include MQ(L) {
        padding-right: 25%; 
    }
}

.benefits{
    display:block;
    @include MQ(L) {
        padding-right: 25%; 
    }
}  

.requirements p:last-of-type {
    text-align: center;
    margin: 0 2em;
    margin-top: 1em
}

