// Style elements in sidebar here.

$sidebar-margin-sm: 1.5em;

.sidebar {
    display: block;
    margin-left: $sidebar-margin-sm;
    margin-right: $sidebar-margin-sm;
    margin-bottom: $sidebar-margin-sm;
    padding-top: 1em;
    // grid-column: 0;
    // grid-row: 0;
    @include MQ(L) {
        padding-top: 10em;
        // display: grid;
        grid-column: 3/4;
        grid-row: 1/3;
    }
}
