// Fonts
$primary-font: 'Ubuntu', sans-serif;
$secondary-font: 'Bilbo Swash Caps', cursive;
$footer-font: 'verdemoderna';

h1,
h2 {
    color: $dark-jungle-green;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-family: $secondary-font;
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 1.2;
}

h2 {
    font-family: $primary-font;
    font-weight: 500;
    font-size: 1.25rem;
}


h3 {
    font-family: $primary-font;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 1em;
}

p {
    font-family: $primary-font;
    font-size: 1rem;
    color: $dark-jungle-green;
    a {
        color: $pacific-blue;
    }
}


.summary {
    margin-top: 3em;
    text-align: center;
}

.preamble > h3::before,
.main h3::before {
    content: url(styleguide/src/assets/branding/favicon-1.png);
    vertical-align: middle;
    padding-right: 0.5em;
}

.preamble h3::after,
.main h3::after {
    content: url(styleguide/src/assets/branding/favicon-1.png);
    vertical-align: middle;
    padding-left: 0.5em;
}

